.home {
  display: block;
  margin: 0 auto;
  height: 80vh;
  background-image: url("../../assets/phonebook.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.homeTitleContainer {
  display: block;
  margin: 0 auto;
}

.homeTitle {
  font-size: 32px;
}

.homeSubTitle {
  font-size: 18px;
  font-weight: 500;
}

.homeTitle,
.homeSubtitle {
  text-align: center;
}

.homeButtonsContainer {
  position: absolute;
  bottom: 140px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
}

.homeButton {
  text-decoration: none;
  padding: 10px 15px;
  width: 100px;
  text-align: center;
  font-weight: 900;
  border-radius: 10px;
  background-color: #a7f1ab;
}

.homeButtonLogIn {
  border: 2px solid #b3b3b3;
}

.homeButtonRegister {
  color: #ffffff;
  background-color: #1b64d3;
  border: 2px solid #388e3c;
}

.list {
  display: flex;
  flex: 0 0 auto;
  margin-top: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 10px;
}
